@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.navegacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    
}

header {
    width: 100%;
}


.search-container {
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 12px 20px;
  box-shadow: 0 4px 12px #00000025;
  background-color: #fff;
  width: 500px;
  max-width: 90%;
  transition: box-shadow 0.3s ease;
}

.search-container:focus-within {
  box-shadow: 0 0 10px #ff4fcf80;
}

.search-container input {
  background: transparent;
  border: none;
  outline: none;
  color: #333;
  padding: 8px 12px;
  font-size: 16px;
  width: 100%;
  font-family: 'Segoe UI', sans-serif;
}

.search-container input::placeholder {
  color: #888;
}

.search-container button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.search-container button:hover {
  transform: scale(1.1);
}

.botao-login {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #ff4fcf;
    padding: 10px 15px;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s;
}

.botao-login:hover {
    background-color: #e048ba;
}

.botao-login img {
    width: 30px;
    height: 30px;
}

.texto-login {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

.texto-login a {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}


.menu-bar {
    padding-top: 40px;
    
}

.menu-bar ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style-type: none;
    
}

.menu-bar ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    transition-duration: 0.3s;
}

.menu-bar ul li a:hover {
    color: rgb(61, 61, 61);
}


.logo {
    max-height: 50px;
}

body {
    background-color: rgba(182, 40, 211, 0.589);
    height: 100vh;
    margin: 0;
}